body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #303035;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    overflow:hidden;
}
h1, h2, h3, p {
    margin: 0
}

ul {
    margin: 0;
    padding: 4px 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    list-style: none;
    user-select: none;
}
li {
    margin: 4px 0;
}