body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #303035;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    overflow: auto;
    overflow-x:hidden;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0 8px;
    list-style-type: none;
}
ul li {
    padding: 8px 4px;
    user-select: none;
    font-size: 125%;
}
td, th {
    padding: 4px;
}