body > header {
    margin: 0;
    width: 100%;
    background-color: #40404a;
}
.head_title > li {
    font-size: 250%;
    text-transform: uppercase;
    font-weight: bold;
}
.ul_hoverable > li:not(.arrow):not(.current_position){
    cursor: pointer;
}
header > .navigator_list {
    display: flex;
}
.navigator_list li {
    margin: 0 8px;
    /* background-color: red; */
}
.cathegory_list {
    padding: 8px;
}
.cathegory_list .cathegory_name{
    padding: 8px;
    background-color: #30307f;
}
.cathegory_list li:not(:first-child){
    margin-top: 16px;
}
.cathegory_list h1 {
    /* font-size: 200%; */
    cursor: pointer;
}
.cathegory_list .matkul_list {
    background-color: #7f7f20;
    /* height: 0; */
    max-height: 0;
    overflow: hidden;
    overflow: auto;
    transition: max-height 0.2s ease-out;
}
.matkul_list.active {
    max-height: 400px;
    transition: max-height 0.4s ease-out;
}
.matkul_list .matkul_wrapper {
    padding: 8px;
}
.matkul_wrapper .matkul {
    width: 100%;
    border-collapse: collapse;
}
.matkul_wrapper .matkul:not(:first-child) {
    margin-top: 4px;
}
.matkul .matkul_header {
    background-color: #40408f;
    cursor: pointer;
}
.matkul_header .matkul_header_number {
    width: 50px;
}
.matkul_header .matkul_header_name {
    width: 60%;
}
.matkul .matkul_content {
    visibility: collapse;
}
.matkul_content td{
    padding: 8px;
    background-color: #55557f;
}
.matkul_content h3:not(:first-child) {
    margin-top: 8px;
}
.matkul_content td:first-child {
    border-right: 2px solid white;
}
.matkul_content.active {
    visibility: visible;
}
td, th {
    padding: 4px;
    border: 2px solid transparent;
}