.note_list_container {
    margin: 12px 12px;
    padding: 0px;
    font-size: 120%;
    font-weight: bold;
}
.note_list_container > li {
    margin: 16px 0;
    width: 100%;
}
.note_list_container > li > h1 {
    padding: 12px;
    background-color: #35356f;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border: 2px solid transparent;
    text-transform: uppercase;
    cursor: pointer;
}
.list_content_container {
    box-sizing: border-box;
    padding: 8px 0;
    width: 100%;
    background-color: #6f6f35;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
}
.list_content {
    font-size: 100%;
}
.list_content li::marker {
    font-size: 125%;
}
.matkul_detail li {
    margin: 0 0 4px 0;
    font-weight: normal;
}